*{
    margin: 0;
    padding: 0;
    }
body{
   background-color: #DEDCD8;
}
.container{
    display: flex;
    flex-direction: column;
}
.baggrund{
    width: 100%;
    position: absolute;
}
.hus{
    width: 100%;
    position: absolute;
    margin-top: 3%;
}
h1{
    margin-top: 7%;
    position: absolute;
    align-self: center;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    color: #B9282D;
}
.logo{
    position: absolute;
    width: 60%;
    margin-top: 25%;
    align-self: center;
}
.undersider{
    display: flex;
    flex-direction: row;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    background-color: #E4B3B1;
    border: none;
}
.undersider:hover{
    color:#B9282D;
}
.corona{
    font-size: 80%;
    margin-top: 2%;
    color: #303231;
    margin-left: 6%;
    margin-right: 6%;
}
.opdatering{
    margin-left: 5%;
    margin-top: -10%;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: #B9282D;  
    margin-left: 5%; 
    font-weight: bold;
}
.pare{
    width: 12%;
    margin-top: 100%;
    margin-left: 80%;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 46%;
}
.line{
    display: flex;  
    align-self: center;
    border: 1px solid #B9282D;
    width: 90%;
}
h2{
    margin-top: 1%;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #B9282D;  
    margin-left: 5%;
}
.tekstbox{
    font-size: 80%;
    margin-top: 10%;
    color: #303231;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.7;
}
.tekstbox1{
    font-size: 80%;
    margin-top: 5%;
    color: #303231;
    margin-left: 5%;   
    margin-right: 4%;
    line-height: 1.7;
}
.container1{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.afro{
    margin-left: -15%;
}
h3{
    margin-top: 12%;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: #B9282D;  
    margin-left: 6%;
    text-decoration: underline;
    letter-spacing: 1px;
}
.container3{
    display: flex;
    flex-direction: row;
}
.medarbejder{
    margin-top: 20%;
    margin-left: 5%;
}
.medarbejder1{
    margin-top: 10%;
    margin-left: 5%;
    }
.navn{
    margin-top: 33%;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #B9282D;  
    margin-left: 60%;
    font-weight: bold;
}
.navn1{
    margin-top: 27%;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #B9282D;  
    margin-left: 60%;
    font-weight: bold;
}
.tekstboxfri{
    font-size: 80%;
    margin-top: 20%;
    color: #303231;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.7;
    margin-bottom: -5%;
}
h4{
    margin-top: 1%;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #B9282D;  
    margin-left: 75%;
}
.spørgsmål{
    margin-top: 20%;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #B9282D;  
    margin-left: 5%; 
}
.dropdown{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#DEDCD8;
    color: #b9292d;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    letter-spacing: 1px;
}
.skrivnavn{
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #B9282D;  
    margin-left: 5%; 
    margin-right: 5%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px  solid #303231;
    background-color: #DEDCD8; 
}
.tekstboxskema{
    font-size:100%;
    margin-top: 5%;
    color: #303231;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.7;
    text-align: center;
}
.spørgsmål1{
    margin-top: 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: #B9282D;  
    margin-left: 5%; 
    margin-right: 5%;
}
.inputfelt{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    color: black;
    height: 150px;
    text-decoration: none;
    border: 1px  solid #303231;     
    background-color: #DEDCD8;
}
.send{
    margin-top: 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    margin-left: 40%;
    margin-right: 40%;
}
.send:hover{
color: #B9282D;
}

/* Cathrine */
h5{
    color: #b6151b;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}
.containertilbud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.etto{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 5%;
}
.trefire{
    display: flex;
    flex-direction: reverse;
    text-align: center;
    margin-bottom: 5%;
}
.femseks{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 5%;
}
.syvotte{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 5%;
}
.stop{
    margin-left: 8%;
}
.fast{
    margin-top: 10%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
    font-size: 26px;
}
.mdr{
    margin-top: 2%;
    color: #b6151b;
    font-size: 15px;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.nada{
    margin-top: 4%;
    margin-left: 5%;
    color: #303231;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.dage2{
    margin-top: 5%;
    margin-left: 5%;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
} 
.tidspunkt4{
    margin-top: 5%;
    margin-left: 37%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.7;
    color: #303231;
}   
.husk{
    margin-top: 4%;
    margin-left: 5%;
    color: #303231;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.containerkalender{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0% 3% 0% 3%;
    align-items: center;
    color: #303231;
}
.tir{
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-color: #B9282D;
    color: #FFFFFF;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.ons{
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-color: #EC6365;
    color: #FFFFFF;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.tor{
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-color: #F7161E;
    color: #FFFFFF;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.fre{
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-color: #803636;
    color: #FFFFFF;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.linetir{
    border: 3px solid #B9282D;
    border-radius: 25px;
    width: 65%;
    transform: rotate(90deg);
    margin-top: 45%;
    margin-left: -25%;
}
.lineons{
    border: 3px solid #EC6365;
    border-radius: 25px;
    width: 35%;
    transform: rotate(90deg);
    margin-top: 35%;
    margin-left: -10%;

}
.linetor{
    border: 3px solid #F7161E;
    border-radius: 25px;
    width: 35%;
    transform: rotate(90deg);
    margin-top: 35%;
    margin-left: -10%;
}
.linefre{
    border: 3px solid #803636;
    border-radius: 25px;
    width: 35%;
    transform: rotate(90deg);
    margin-top: 35%;
    margin-left: -10%;
}
.tirtext{
    margin-left: 10%;
}
.kalenderdag1{
    margin-top: -39%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
    font-weight: bold;
    font-size: 20px;
}
.eventtir{
    margin-top: 1%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #B9282D;
    font-weight: bold;
    font-size: 15px;
}
.containerkalender1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ikon{
    width: 30px;
    height: 30px;
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 70%;
}
.tidspunktkalender{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
    font-weight: bold;
    font-size: 15px;
}
.eventons{
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #EC6365;
    font-weight: bold;
    font-size: 15px;
}
.kalenderdag2{
    margin-top: -20%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
    font-weight: bold;
    font-size: 20px;
}
.eventtor{
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #F7161E;
    font-weight: bold;
    font-size: 15px;
}
.eventfre{
    margin-top: 2%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #803636;
    font-weight: bold;
    font-size: 15px;
}
.kalenderdag3{
    margin-top: -20%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #303231;
    font-weight: bold;
    font-size: 20px;
}